<form style="width: 100%;" [formGroup]="userForm" (ngSubmit)="login(userForm.value)">
  <div class="container">
    <div class="child">
      <div class="mb-3">
        <label for="formControlInput" class="form-label">ユーザー名：</label>
        <input type="text" class="form-control" formControlName="username">
      </div>
      <div class="mb-3">
        <label for="inputPassword5" class="form-label">パスワード：</label>
        <input type="password" class="form-control" aria-describedby="passwordHelpBlock" formControlName="password">
      </div>
      <button class="btn btn-primary">ログイン</button>
    </div>
  </div>
</form>