<h1 class="card-title">{{ title }}</h1>
<table>
  <thead>
    <tr>
      <th>ユーザーID</th>
      <th>ユーザー名</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of registeredUsers">
      <td><a [routerLink]="['/users-detail', user.userId]">{{ user.userId }}</a></td>
      <td>{{ user.username }}</td>
      <td><button type="button" (click)="onDeleteUser(user.userId)">削除</button></td>
      <td><button type="button" [routerLink]="['/users-edit', user.userId]">編集</button></td>
    </tr>
  </tbody>
</table>
