<h1 class="card-title">{{ title }}</h1>
<form style="width: 100%;" [formGroup]="userForm" (ngSubmit)="onRegisterUser(userForm.value)">
  <div>
    <label>ユーザー名：</label>
    <input style="width: 25%;" type="text" formControlName="username">
  </div>
  <div>
    <label>年齢：</label>
    <input style="width: 5%;" type="number" formControlName="age">
  </div>
  <div>
    <label>メールアドレス：</label>
    <input style="width: 25%;" type="email" formControlName="email">
  </div>
  <div>
    <label>パスワード：</label>
    <input style="width: 25%;" type="password" formControlName="password">
  </div>
  <div>
    <label>権限：</label>
    <input style="width: 5%;" type="text" formControlName="auth">
  </div>
  <button mat-raised-button color="primary">登録する</button>
</form>
<a [routerLink]="['/']">ホーム画面へ</a>