<h1 class="card-title">{{ title }}</h1>
<div class="row mb-3">
  <label class="col-sm-2 col-form-label">日記タイトル：</label>
  <div class="col-sm-10">
    <input class="form-control" style="width: 25%;" type="text" value="{{ diaryTitle}}" readonly>
  </div>
</div>
<div class="row mb-3">
  <label class="col-sm-2 col-form-label">内容：</label>
  <div class="col-sm-10">
    <textarea class="form-control" rows="15" value="{{ diaryContent }}"
      style="width: 50%;" readonly></textarea>
  </div>
</div>
<form style="width: 100%;" [formGroup]="registerCommentForm" (ngSubmit)="onRegisterComment(registerCommentForm.value)">
  <div>
    <div class="row mb-3">
      <label class="col-sm-2 col-form-label">コメント：</label>
      <div class="col-sm-10">
        <textarea class="form-control" rows="15" formControlName="comment"
          style="width: 50%;"></textarea>
      </div>
    </div>
    <button class="btn btn-primary">投稿</button>
  </div>
</form>
