<h1 class="card-title">{{ title }}</h1>
<div class="row mb-3">
  <label class="col-sm-2 col-form-label">日記タイトル：</label>
  <div class="col-sm-10">
    <input class="form-control" style="width: 25%;" type="text" value="{{ diaryTitle}}" readonly>
  </div>
</div>
<div class="row mb-3">
  <label class="col-sm-2 col-form-label">内容：</label>
  <div class="col-sm-10">
    <textarea class="form-control" rows="15" value="{{ diaryContent }}"
      style="width: 50%;" readonly></textarea>
  </div>
</div>
<label class="col-sm-2 col-form-label">投稿コメント</label>
<table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let comment of comments">
      <tr>
        <th scope="row">{{ comment.commentNo }}</th>
        <td>{{ comment.content }}</td>
        <td>{{ comment.username }}</td>
        <td>{{ comment.createdAt }}</td>
        <td><input type="button" (click)="switchReplyFlg(comment.commentNo, null)" value="返信"></td>
      </tr>
      <ng-container *ngFor="let reply of replies">
        <ng-container *ngIf="comment.commentNo == reply.replyTo">
          <tr>
            <th scope="row">&nbsp;&nbsp;>>{{ reply.replyNo }}</th>
            <td>{{ reply.content }}</td>
            <td>{{ reply.username }}</td>
            <td>{{ reply.createdAt }}</td>
            <td></td>
          </tr>
        </ng-container>
      </ng-container>
    </ng-container>
  </tbody>
</table>
<form style="width: 100%;" [formGroup]="registerCommentForm" *ngIf="!replyFlg" (ngSubmit)="onRegisterComment(registerCommentForm.value)">
  <div>
    <div class="row mb-3">
      <label class="col-sm-2 col-form-label" *ngIf="!replyFlg">コメント内容：</label>
      <div class="col-sm-10">
        <textarea class="form-control" rows="15" formControlName="content"
          style="width: 50%;"></textarea>
      </div>
    </div>
    <button class="btn btn-primary">投稿</button>
  </div>
</form>
<form style="width: 100%;" [formGroup]="registerReplyForm" *ngIf="replyFlg" (ngSubmit)="onRegisterReply(registerReplyForm.value)">
  <div>
    <div class="row mb-3">
      <label class="col-sm-2 col-form-label" *ngIf="replyFlg">返信内容：</label>
      <div class="col-sm-10">
        <textarea class="form-control" rows="15" formControlName="content"
          style="width: 50%;"></textarea>
      </div>
    </div>
    <button class="btn btn-primary">返信</button>
  </div>
</form>
